@use 'sass:math';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* ================================================================================== */

/* default browser font 16px */

@function percent($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}
$maxContainerWidth: 1087;
$maxWidth: 1152;

@mixin adaptive($prop, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type == 1 {
    #{$prop}: $startSize + px;
    @media (max-width: #{$maxContainerWidth + px}) {
      #{$prop}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxContainerWidth - 320})
      );
    }
  } @else if $type == 2 {
    #{$prop}: $startSize + px;
    @media (min-width: #{$maxContainerWidth + px}) {
      #{$prop}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    #{$prop}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

body {
  font-family: Rubik;
  font-size: rem(12);
  color: #616161;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*='__container'] {
  max-width: rem($maxContainerWidth);
  margin: 0 auto;
  padding: 0 rem(15);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: rem(114);
  align-items: center;
}

.header__menu {
  flex: 1 1 auto;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 rem(40) 0 0;
}

.menu__link {
  &:hover {
    text-decoration: underline;
    color: #ec5863;
  }
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  @include adaptive('font-size', 10, 8, 1);
  line-height: 1.2;
  color: #000;
  letter-spacing: 0.1em;
}

.header__logo {
  position: relative;
  z-index: 5;
  @media (max-width: 498.98px) {
    flex: 0 0 40px;
    overflow: hidden;
  }
}

.header__button {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  flex: 0 0 percent(252, 1087);
  align-items: center;
}

.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  @include adaptive('font-size', 10, 8, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  padding: 1.4em 3em;
  border-radius: 5px;

  transition: background-color 0.3s ease;
  &--red {
    background-color: #ec5863;
    &:hover {
      background-color: #c42530;
    }
  }
  &--blue {
    background-color: #4285f4;
    &:hover {
      background-color: #0f3a7e;
    }
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 175, 157);
    padding: rem(80) rem(15) rem(30) rem(15);
    display: flex;
    justify-content: center;
    transition: left 0.4s ease;
    &.active {
      left: 0;
    }
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item {
    margin: 0;
    text-align: center;
    padding: 0 0 rem(30) 0;
  }
  .menu__link {
    font-size: rem(20);
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    position: relative;
    flex: 0 0 rem(30);
    height: rem(25);
    width: rem(25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 rem(20);
    & span {
      width: 25px;
      height: rem(2);
      background-color: #000;
    }
    &::after {
      content: '';
      position: absolute;
      top: 19px;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: black;
    }
    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: black;
    }
    &.active span {
      opacity: 0;
    }
    &.active::before {
      position: absolute;
      transform: rotate(45deg);
    }
    &.active::after {
      transform: rotate(-45deg);
      top: 9px;
    }
  }
}
//////////////////////// MAIN //////////////////////////////////////
.main {
  flex: 1 1 auto;
}

.get-started {
  background-color: #fafbfd;

  &__container {
    padding: rem(150) rem(15) rem(50) rem(15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      z-index: 1;
      height: 100%;
      right: 267px;
      top: 0;
      background-color: #ec5863;
      border-radius: 30px 0px 0px 30px;
      transform: translate(100%);

      @media (max-width: 991.98px) {
        right: 185px;
      }
      @media (max-width: 448.98px) {
        display: none;
      }
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      padding-bottom: rem(10);
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    flex: 0 1 52%;
    padding: 0 0 0 rem(20);
    @media (max-width: 767.98px) {
      padding-left: 0;
    }
  }

  &__block-text {
    max-width: 410px;
    @media (max-width: 767.98px) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__video {
    position: relative;
    z-index: 3;
    padding: rem(60) 0 0 rem(20);
    flex: 1 1 100%;
    @media (max-width: 991.98px) {
      padding: rem(20);
    }
  }

  &__image {
    img {
      max-width: 100%;
    }
    flex: 0 1 48%;
    position: relative;
    z-index: 2;
  }
}

.block-text {
  &__title {
    font-weight: 700;
    @include adaptive('font-size', 44, 30, 1);
    // font-size: 44px;
    line-height: 126%;
    color: #000;
    span {
      color: #ec5863;
    }
    &--blue span {
      color: #4285f4;
    }
    &:not(:last-child) {
      margin: 0 0 rem(12) 0;
    }
  }
  &__text {
    letter-spacing: 0.08em;
    color: #616161;
    line-height: 138.5%;
    &:not(:last-child) {
      margin: 0 0 rem(24) 0;
    }
  }
}

.video-get-started {
  display: inline-flex;
  align-items: center;

  img {
    max-width: 100%;
  }
  &__icon {
    flex: 0 0 rem(44);
  }

  &__body {
    padding: 0 0 0 rem(12);
  }

  &__title {
    line-height: 126%;
    font-size: rem(13);
    letter-spacing: 0.08em;
    color: #b0b0b0;
    &:not(:last-child) {
      margin: 0 0 rem(5) 0;
    }
  }

  &__text {
    font-size: rem(9);
    line-height: 126%;

    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #000;
  }
}

// ==================   STAY SAFE BLOCK =============================//

.stay-safe {
  padding: rem(80) 0;
  @media (max-width: 767.98px) {
    padding-top: 20px;
  }
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      flex-direction: column-reverse;
    }
  }

  &__image-block {
    flex: 0 1 50%;
    @media (min-width: 991.98px) {
      padding-left: rem(47);
    }
  }

  &__content {
    flex: 0 1 50%;
    @media (max-width: 767.98px) {
      padding-bottom: 30px;
    }
  }
}
.image-block {
  &__wrapper {
    position: relative;
    width: 373px;
    text-align: center;
    padding: rem(56) 0 rem(27) 0;
    @media (max-width: 479.98px) {
      width: 290px;
    }
  }

  &__image {
    border-radius: 16px;
    position: relative;
    z-index: 2;
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
    width: 61.5%;
    img {
      max-width: 100%;
    }
  }
}

.image-block {
  &__item {
    position: absolute;
    background-color: #ec5863;
    border-radius: 30px;
  }

  &__item1 {
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
  }

  &__item2 {
    right: 34px;
    bottom: 107px;
    width: 77px;
    height: 77px;
  }

  &__item3 {
    bottom: 0;
    left: 33px;
    width: 77px;
    height: 77px;
  }
}
// ========================= EXPERTS ============================//

.experts {
  background-color: #fafbfd;
  padding: rem(103) 0 rem(116) 0;
  @media (max-width: 767.98px) {
    padding: rem(40) 0;
  }
}
.statistic-experts {
  max-width: rem(654);
  margin: 0 auto;
  position: relative;
  &__body {
    margin: 0 0 rem(80) 0;
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    @media (max-width: 767.98px) {
      margin-bottom: 50px;
    }
  }

  &__decor {
    position: absolute;
    background: #ec5863;
    border-radius: 30px;
  }

  &__decor1 {
    left: rem(209);
    top: rem(-35);
    width: 96.96px;
    height: 96.96px;
    transform: rotate(105deg);
  }

  &__decor2 {
    width: 65.75px;
    height: 65.75px;
    left: -21px;
    bottom: -21px;
    transform: rotate(-30deg);
    border-radius: 16px;
  }

  &__decor3 {
    bottom: -5px;
    right: -60px;
    width: 127.47px;
    height: 127.47px;
    transform: rotate(-30deg);
  }
}
.body-statistic-experts {
  padding: rem(25) rem(80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767.98px) {
    padding: 25px;
  }
  @media (max-width: 479.98px) {
    flex-direction: column;
  }
  &__item {
    text-align: center;
    @media (max-width: 767.98px) {
      margin: 0 10px;
    }
  }
  &__value {
    color: #ec5863;
    // @include adaptive('font-size', 36, 16, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: rem(5);
  }

  &__text {
    letter-spacing: 0.27em;
    text-transform: uppercase;
    // @include adaptive('font-size', 11, 8, 1);
    font-size: 11px;
    color: #000;
    font-weight: 700;
    line-height: 1.8;
  }
}

.experts__block-text {
  max-width: rem(400);
  @media (max-width: 767.98px) {
    text-align: center;
    max-width: 100%;
  }
}

.experts__video {
  padding-bottom: 30%;
  position: relative;
  flex: 0 1 50%;
  overflow: hidden;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;

  @media (max-width: 767.98px) {
    padding-bottom: 58%;
  }
}
.experts__content {
  flex: 0 1 50%;
  padding-right: rem(20);
  @media (max-width: 767.98px) {
    margin-bottom: rem(30);
  }
}
.experts__body {
  align-items: center;
  display: flex;
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: stretch;
  }
}
.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
}

//==========================HEALTH ===================///

.healthcare {
  &__block-text {
    text-align: center;
  }
}
.block-text {
  &__text {
    &--mw {
      max-width: rem(600);
      margin: 0 auto;
    }
  }
}
.block-text--center {
  text-align: center;
}

// ==================HEALTH ===============//

.healthcare {
  padding: 79px 0;
  @media (max-width: 498.98px) {
    padding: 30px 0;
  }

  &__block-text {
    padding: 80px 0 45px 0;
    @media (max-width: 991.98px) {
      padding: 0 0 30px 0;
    }
  }

  &__cards {
    max-width: 978px;
    position: relative;
    z-index: 4;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media (max-width: 991.98px) {
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__card-logo {
    margin-bottom: 58px;
  }

  &__card-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    color: #000000;
    padding-bottom: 5px;
  }

  &__card-text {
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    color: #616161;
  }
}

.cards-healthcare {
  &__card {
    padding: 36px 25px;
    text-align: center;
    flex: 0 1 278px;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease;
    }

    @media (max-width: 991.98px) {
      margin: 15px;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.healthcare__cards__decor {
  z-index: -1;
  position: absolute;
  background: #ec5863;
  border-radius: 30px;
  animation: rotate 10s infinite linear;
}
.healthcare__cards__decor1 {
  left: -20px;
  bottom: -40px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  transform: rotate(-30deg);
}
.healthcare__cards__decor2 {
  left: 230px;
  top: 40px;
  width: 96.96px;
  height: 96.96px;
  transform: rotate(105deg);
}
.healthcare__cards__decor3 {
  left: 575px;
  bottom: -30px;
  width: 127.47px;
  height: 127.47px;

  background: #ec5863;
  transform: rotate(-30deg);
}

.healthcare__cards__decor4 {
  right: -20px;
  top: -30px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  transform: rotate(-30deg);
}

.footer {
  &__container {
    display: flex;
    justify-content: center;
    @media (max-width: 498.98px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.google-img {
  margin: 0 28px;
  cursor: pointer;
}
.apple-img {
  cursor: pointer;
  margin: 0 28px;
}

.fixed-position {
  position: fixed;
}
.block-txt {
  opacity: 0;
  transition: opacity 1.2s ease;
}
